body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: white;
    background: url(/project/логотипы/фон.png);
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
    margin: 0;
    }
a{
   color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
img {
    display: block;
    max-width: 100%;
}
p {
    margin-top: 0px;
}
body, html {
    height: 100%;
}
* {
    box-sizing:border-box ;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3px;

}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1900px;
}
.container {
    margin: 0 auto;
    width: 1670px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.header {
    height: 120px;
    position: relative;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}
.header__col {
    display: flex;
    align-items: center;
    }
.header__col--align--right {
    justify-content: flex-end;
}
.logo{
     display: block;
     margin-right: 150px;
     
    
     
}
.dropdown {
    border: 1px solid #000;
    padding: 20px;
    width: 200px;
    display: none;
}
.contacts__dropdown-title:hover .dropdown {
    display: block;
}
.menu {
   
    top: 42px;
    left: 646px;
    height: 19px;
    
    
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 72px 0 0px;
   }

.menu__item--active .menu__link {
color: #DFB56D;
}
.menu__item:last-child {
    margin: 0;
}
.menu__link {
    font-size: 16px;
}
.menu__item:hover {
    color: #DFB56D;
}
.contacts .contacts__footer {
    font-style: normal;
    text-align: right;
    vertical-align: middle;
    margin-right: 245px;
    padding-top: 20px;
     
}
.contacts__phone {
    text-decoration: none;
    font-size: 33px;
    margin-bottom: 4px;
    text-align: right;
     
}
.contacts__dropdown-title {
    font-size: 16px;
    text-decoration: underline;
    color: #DFB56D;
    padding-bottom: 10px;
}
.hero__text-section {
    width: 590px;
    margin-top: 70px;
}
.hero__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 23px;
    vertical-align: middle;
}
.hero__subtitle {
    font-size: 21px;
    color:#DFB56D;
    margin-bottom: 70px;
}
.btn {
    background: #DFB56D;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 50px;
}
.btn--color--ginger:hover {
    background: #DFB56D;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15 ); 
}
.btn:hover {
    background: #DFB56D;
   box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15 ); 
}
.section{
    margin-bottom: 138px;
    text-align: inherit;
}
.section-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 255px;
}
.offers {
    display: flex;
    justify-content: space-between;
    width: 1420px;
    height: 565px;
}
.offers__item {
    min-height: 470px;
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 32%;
      color: #000;
    overflow: hidden;
}
.offers__item--theme--grey .offers__header {
    background: url(/project/img/gg\ \(3\).png); 
}
.offers__item--theme--blue .offers__header {
      background: url(/project/img/gg\ \(1\).png);
}
.offers__item--theme--gold .offers__header {
    background: url(/project/img/gg\ \(2\).png);
}
.offers__item:last-child {
    margin-right: 0;
}
.offers__header {
    min-height: 162px;
    margin-bottom: 23px;
    position: relative;
}
offers__header::before {
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -142px;
    right: -142px;
    background: grey;
    }
.offers__header-img {
    left: 50%;
    top: 50%;
     margin-left: 137px;
    margin-top: 40px;
}

.offers__content {
    padding: 36px, 30px;
    }
.offers__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
 }
.offers__price {
    font-size: 44px;
    font-style: normal;
    margin-bottom: 10px;
   
}

.offers__prices-cell {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    margin-right: 40px;
    margin-left: 30px;
    text-align:center;
    margin-bottom: 20px;
   }
.offers__prices-cell:last-child {
    margin-right: 5px;
    width: 150px;
   }
.offers__price-decs {
    color:#666666;
    margin-bottom: 20px;
    text-align: center;
}
.offers__btn-wrapper {
    text-align: center;
   margin-bottom: 35px;
   margin-top: 50px;
}
.section-title__news {
    margin-top: 18px;
}
.news {
    margin-bottom: 55px;
    display: inline-block;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
    width: 1445px;
  }
.single-news {
position: relative;
border-radius: 4px;
overflow: hidden;
margin-right: 25px;
}
.news__item {
    width: 750px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
 }
.news__cover  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}
.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px, 30px;
    min-height: 140px;
    margin-bottom: 30px;
}
.single-news__date {
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 40px;
}
.single-news__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 17px;
    
}
.single-news__desc {
    margin-left: 35px;
    font-size: 20px;

}
.btn--color--black {
    background: black;
    align-self: flex-end;
}
.btn--color--grey {
    background: #8E8E8E;

}
.btn--color--grey:hover {
    background: #000;
}

.btn--color--black:hover {
    background: #DFB56D;
}

.pager {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.pager--team--light {
    color: #202123;
}
.pager--team--light .pager__item .pager__link {
    color: #353538;
    background: #F4F5f5;
}
.pager--team--light .pager__link:hover {
    color: #F4F5f5;
    background: #353538;
}
.pager__display .pager__item .pager__list {
    display: inline-block;
    vertical-align: middle;
}
.pager__display {
    display: flex;
    justify-content: center;
        font-size: 20px;
   
}
.pager__list {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 230px;
}
.pager__item {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}
.section__about {
    margin-bottom: 95px;
}
.about::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 510px;
    background: url(/project/img/logo\ \(7\).png) center no-repeat;
    margin-top: 38px;
}
.about__desc {
    background: #202123;
    padding: 70px 100px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    position: relative;
    margin-top: 180px;
    margin-right: 290px;
    margin-left: -50px;
  
}
.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}
.about__desc-text {
    margin-bottom: 105px;
    font-size: 20px;
}
.about__desc-text p {
    margin-bottom: 20px;
}
.about__desc-text p:last-child {
    margin-bottom: 0px;
}
.footer {
    height: 152px;
    position: relative;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.footer-conteiner {
    margin-top: auto;
    padding-left: 120px;
    width: 1670px;
}
.menu__footer {
   margin-left: -140px;
}
.footer-container__section {
    height: 140px;
    margin-top: 12px;
}
.contacts__footer {
padding-right: 130px;
padding-top: 35px;
}

.footer-container__content {
    border-top: 1px solid #353538;
   padding-top: 28px;
}
.inner-footer {
    margin-top: auto;
    background: url(/project/логотипы/фон.png);
}
.inner-footer__container {
    padding: 45px 0;
}
.footer__col--alig--right {
    justify-content: flex-end;
}
.contacts_desc {
    color: #9A9A9A;
    font-size: 11px;
    
}
.footer__col {
    display: flex;
    align-items: center;
}
.social__items {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.social {
    margin-right: 74px;
    display: flex;
    margin-left: 50px;
}
.social__items:last-child {
    margin-right: 0;
}
.social__link {
display: block;
text-decoration: none;
width: 36px;
height: 36px;
}
.social__items--icon--tg .social__link {
    background-image: url(/project/социалки/t\ \(1\).png);
}
.social__items--icon--tg .social__link:hover {
background-image: url(/project/социалки/t.png);
}
.social__items--icon--vk .social__link {
    background-image: url(/project/социалки/vk\ \(2\).png);
}
.social__items--icon--vk .social__link:hover {
background-image: url(/project/социалки/vk\ \(1\).png);
}
.social__items--icon--fb .social__link {
    background-image: url(/project/социалки/facebook\ 1.png);
}
.social__items--icon--fb .social__link:hover {
background-image: url(/project/социалки/f2.png);
}
.social__items--icon--insta .social__link {
    background-image: url(/project/социалки/in\ \(2\).png);
}
.social__items--icon--insta .social__link:hover {
background-image: url(/project/социалки/in\ \(1\).png);
}
/*services*/
.top-line {
    min-height: 415px;
      display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    
    background:  #29282D url(/project/img/bottom-pic\ 1.png) right 20% top no-repeat;
}
.container__serv {
   
}
.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    margin-top: -140px;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}
.breadcrumbs__list {
    display: flex;
    
}
.breadcrumbs {
    display: inline-block;
}
.breadcrumbs__link .breadcrumbs__link-active {
    color: #999999;
    text-decoration: none;
}
.breadcrumbs__link {
    color: #DFB56D;
    font-size: 14px;
}
.breadcrumbs__item:after {
    content: "/";
    color: #999999;
}
.breadcrumbs__item:last-child::after {
    display: none;
}
.page-content {
background: #F2F2F2;
color: #303030;
padding: 40px 0;
margin-top: 30px;
}
.service {
display: flex;
padding: 58px 110px;
text-decoration: none;
margin-bottom: 45px;
width: 85%;
padding-bottom: 0px;
    height: 450px;
}
.servic:hover {
    background: #F4F5f5;
}
.servic:hover .service__btn {
    background: #DFB56D;
}
.services__img {
    width: 33%;
    margin-right: 4%;
}
.services__content {
    flex: 1;

}
.services__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
    color: #202020;
    
}
.service--btn::before {
    display: flex;
    margin-top: 30px;
    margin-right: 700px;
}
.services__desc {
    line-height: 1.7;
margin-bottom: 30px;
}
.pager--serv {
    margin-top: 100px;
    margin-right: 200px;
    padding-top: 5px;
}
.pager__display--serv{
    font-size: 16px;
}
.pager__link--serv {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}
.pager__list--serv {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 230px;
}
.inner-section {
    background: #F4F5f5;
    color: #202123;
    padding: 95px 0;

}
.container--partn {
    padding-top: 65px;
    margin-left: 110px;
}
.inner-section--bg--grey {
    background: #F4F5f5;
}
.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 65px;
}
.partners {
    display: flex;
    flex-wrap: wrap;
    width: 1270px;
    margin-left: -35px;

}
.partners__item {
   
    
    margin-right: 60px;
}
.partners__item:nth-child(4n+1) {
    margin-left: 0;
}
.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}
.partners__link:hover {
    filter: grayscale(0%);
}
.contacts__footer--serv {
    padding-top: 18px;
    padding-bottom: 150px;
}
.menu__list--serv {
    margin-right: 0px;
}
.footer-conteiner__section--serv {
    width: 1270px;
}
.logo--serv {
    margin-right: 60px;
}

/*reviews page*/
.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 30px;
}
.reviews__item {
    margin-bottom: 20px;

}
.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;

}
.avatar {
   width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;

}
.review__user::after {
content: url(/project/социалки/vk-blue\ 1.png);
height: 29px;
}
.review__tags {
    display: flex;
    align-items: flex-start;
}
.tag {
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;


}
.tag--bg--green {
    background: #B9EAE4;

}
.review__title {
    font-size: 30px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 27px;
}
.review__content-text {
    margin-bottom: 50px;
    color: #818181;
}
.review__date {
    font-size: 14px;
    color: #202020;
    font-weight: bold;

}
.separator {
    background: #E5C288 url(/project/img/phone-n-hand\ 1.png) right 20% bottom no-repeat;
      min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202020;
}
.separator__content {
    max-width: 50%;
    
   
   
   
}
.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    padding: 70px;
    padding-right: inherit;
}
.form__row {
    display: flex;
    margin-bottom: 30px;

}
.form__input {
    display: flex;
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: 1px solid #E5C288
    padding: 22px 30px;
    font-size: 18px;
    color: #000;
    background: #ffff;
  

}
.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}
.form__input--textarea {
    height: 232px;
}
.controls__elem {
    cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;


}
.controls__checkbox {
    display: none;
}
.form__controls {
    display: flex;
    margin-bottom: 35px;
}
.form__controls-title {
    width: 40%;
    margin-bottom: 20px;
}
.controls {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.controls__item {
    margin-right: 10px;
    margin-bottom: 10px;
}
.form__btn {
    display: flex;
    justify-content: flex-end;
}
.form__btn {
    margin-right: 20px;
}
.form__btn:last-child {
    margin-right: 0;
}
/*welcome*/
.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   background: url(/project/img/splash.png) center bottom no-repeat;
}
.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.3 infinite;
}
.central__logo {
    margin-bottom: 65px;
   
}
 @keyframes bounce {
0% {
    transform: translateY(0);
}
20% {
    transform: translateY(-30px);
}
35% {
    transform: translateY(0);
}
55% {
    transform: translateY(-15px);
}
65% {
    transform: translateY(0);
}
70% {
    transform: translateY(-7px);
}
80% {
    transform: translateY(0);
}
}